.create-account{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://st.depositphotos.com/1062085/2561/i/600/depositphotos_25616917-stock-photo-businesswoman-using-a-credit-card.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .create-account-text{
        text-align: center;
        font-size: 2em;
        padding: 5px;
        margin-bottom: 10px;
        width: 35%;
        
    }
    
    .create-account-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        input{
            margin: 5px;
            border-radius: 10px;
            height: 5vh;
            width: 50vw;
            text-indent: 10px;
        }

        p{
            color: #b11216;
            font-weight: bolder;
            opacity: 0
        }

        button{
            margin-top: 20px;
            border-radius: 8px;
            padding: 8px 15px;
            background-color: #b11216;
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            box-shadow: 0 1px 4px 0 rgba(0,0,50,0.3);
        }
    }

    h4{
        font-size: 2em;
        color: #b11216;
        font-weight: bolder;
        opacity: 0
    }
}