.ledger{
    h3{
        font-size: 24px;
        color: #4a4a4a;
        padding: 10px 0px 0px 10px;
    }

    #ledger-container{
        margin: 20px auto;

        #ledger-header-row{
            display: table;
            width: 90%;
            margin: 10px auto;
            background-color: #b11216;
            padding: 12px 0;
            color: #fff;
            font-size: 15px;
            box-shadow: 0 1px 4px 0 rgba(0,0,50,0.3);

            .ledger-header-cell{
                display: table-cell;
                width: 25%;
                text-align: center;
                padding: 4px 0;
                vertical-align: middle;
                border-right: 1px solid #d6d4d4;
            }
        }

        #ledger-row{
            display: table;
            width: 90%;
            margin: 1px auto;
            background-color: #7e7c7c;
            padding: 12px 0;
            color: #fff;
            font-size: 15px;

            .ledger-cell{
                display: table-cell;
                width: 25%;
                text-indent: 10px;
                padding: 4px 0;
                vertical-align: middle;
                border-right: 1px solid #fff;
            }
        }
    }
}