@import 'header';
@import 'createaccount';
@import 'bankservices';
@import 'ledger';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: ProximaNova, Helvetica;
}

.App{
    display: flex;
    flex-direction: column;
    height: 2000px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
   
  th,
  td {
    border: 1px solid #ffffff;
    padding: 8px;
  }
   
  th {
    background-color: #b11216;
    color: #fff;
    text-align: center;

  }
   
  td {
    background-color: rgb(233, 233, 233);
    text-align: left;
  }
